<h2>More about this project:</h2>

<p>Hi Kim, Andrew, and the Edgwater team. Allow me to start by admitting that this is a pretty bare bones submission. I believe I technically met all requirements of the coding challenge but I'm not happy with the product as of Thursday Dec 22 which is when I'm submitting this. I plan to keep improving the project and hope to show you more and better work over the holiday weekend.</p>

<h2>Explanation/reflection on the code:</h2>

<p>I have a lot of criticisms of my own work here, so let me start by saying that I know the short descriptions of the data that gets pulled are oversimplified. The most dangerous ward list weighs considers all crime as equal, when it would be more accurate to either limit the query to violent crimes or even consider adding a weight-factor based on the crime's severity. </p>

<p>Similarly, the safest neighborhoods treats all crime as equal and appears to highlight another flaw where both  measures of danger/safety are likely confounded by overall population and density. The safest neighborhoods on this list are almost all among the lowest in population. Additionally, both of the safety/danger measures are taken over the entire fifteen years of available data and examining how these change over time is both more accurate and more interesting.</p>

<p>The common types of crime would also benefit from an analysis that consideres change over time and more finely tune categories.</p>

<p>I really do like the map. I struggled with a few google maps tutorials before finding a straightforward example that I could use to get the markers functional. I would like to add a date range slider to allow more interactivity and user control.</p>

<h2>Challenges faced and lessons learned</h2>

<p>I really learned a lot about the process of coding challenges from working on this project. Most importantly, I was reminded that coding is hard, and I was overconfident in my ability to create a lot of features quickly. This led to me procrastinating with d3.js tutorials. Importantly, I learned that skimming through tutorials on Friday doesn't help my code on Tuesday. I also spent too much time considering the best way to approach this problem and not enough time putting out features that work. I would love to have more code to discuss with you. I've tried to demonstrate with this long block of text that I have a stronger understanding of data analysis than I have presented here. The limiting factor is definitely my ability to translate that analysis into code and I'm hopeful that you will give me the opportunity to prove that as a member of your team.</p>