<h1>Chicago Crime data</h1>
<p>Welcome to my crime data toolset! This site is intended as an intoductory effort toward exploring the Chicago crime data set made available <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">here</a> by the city of Chicago. The data is pulled from official police records and updated frequently. If you click through the link, you will see that the raw dataset contains an intimidating amount of specifics with each record. The city does a tremendous job offering different ways to filter and visualize their data, so this humble page limits itself toward exploring a few easy to understand slices. Don't forget to click on the link on the <a href="/home/map"><b>MAP</b></a> get another view of the most recent records available. Thanks and enjoy!</p>

<a id ="topTenWards" href="#">See the top ten most dangerous Chicago Wards</a><br>

<div class="dropdown">
  <button onclick="showDropdown()" class="dropbtn">Learn more about:</button>
  <div id="myDrop" class="dropdown-content">
    <a id="commonCrimes" href="#">Top ten most common crimes reported in Chicago</a>
    <a id="safeHoods" href="#">Safest neighborhoods</a>
    <a id="annualArrest"href="#">Percent of crimes with an arrest (annually)</a>
    <a id="ytdArrest" href="#">Percent of crimes with an arrest (2016 monthly year to date)</a>
  </div>
</div>

<!-- <p>Please select an option to learn more about:</p>
<select id="dropdown">
<option value="commonCrimes">Top ten most common crimes reported in Chicago</option>
<option value="safeHoods">Safest neighborhoods</option>
</select>
 -->

<div id="table-container">
</div>
<div id="crime-container"></div>


<script type="text/javascript">
// make an API call to Chicago crime data 
var communityAreaArray = ["placeholder", "Rogers Park", "West Ridge", "Uptown", "Lincoln Square", "North Center", "Lake View", "Lincoln Park", 
"Near North Side", "Edison Park", "Norwood Park", "Jefferson Park", "Forest Glen", "North Park", "Albany Park", "Portage Park", 
"Irving Park", "Dunning", "Montclare", "Belmont Cragin", "Hermosa", "Avondale", "Logan Square", "Humboldt Park", "West Town", 
"Austin", "West Garfield Park", "East Garfield Park", "Near West Side", "North Lawndale", "South Lawndale", "Lower West Side", "Loop", "Near South Side",
"Armour Square", "Douglas", "Oakland", "Fuller Park", "Grand Boulevard", "Kenwood", "Washington Park", "Hyde Park", "Woodlawn", "South Shore", "Chatham", 
"Avalon Park", "South Chicago", "Burnside", "Calumet Heights", "Roseland", "Pullman", "South Deering", "East Side", "West Pullman", "Riverdale", "Hegewisch",
"Garfield Ridge", "Archer Heights", "Brighton Park"]

var baseURL = "https://data.cityofchicago.org/resource/6zsd-86xi.json"
var wardQuery = encodeURI("?$select=ward,COUNT(ward)&$group=ward&$limit=10&$order=COUNT(ward) DESC ")
var appToken = "&$$app_token=XTzcaicIeaM3s1GDqbUAaUVS5"
var commCrimeQuery = encodeURI("?$select=primary_type,COUNT(primary_type)&$group=primary_type&$limit=10&$order=COUNT(primary_type) DESC ")
var safeHoodsQuery = encodeURI("?$select=community_area,COUNT(community_area)&$group=community_area&$limit=10&$order=COUNT(community_area) DESC ")
var arrestYearlyQuery = encodeURI("?$select=year,count(*),sum(case(arrest=true, 1, true, 0))&$group=year&$order=year DESC ")

$(document).ready(function(){
	//test click on dead link to get top ten crime wards
	$("#topTenWards").on("click", function(e){
		e.preventDefault()
		console.log(baseURL+wardQuery+appToken)
		//turn data into tables
		$.getJSON( baseURL+wardQuery+appToken, function(data) {
			// console.log(data)
			var wardTable = "<table> <tr> <th> Number of Crimes </th> <th> Ward Number </th> </tr>"
			var wardTableItems = []
			// turn each ward with count into table row
			for (var i = 0; i < data.length; i++) {
				wardTableItems.push("<tr><td>"+data[i].COUNT_ward+"</td> <td>"+data[i].ward+"</td></tr>")
			}

			var wardTableItemsString = wardTableItems.join("")
			wardTable += wardTableItemsString+"</table>"
			$("#table-container").html(wardTable)
		})
	})
	$(".dropdown").on("click", "#safeHoods", function(e){
		e.preventDefault()
		console.log("blocked")
		$.getJSON( baseURL+safeHoodsQuery+appToken, function(data) {
			console.log(data)
			var safeTable = "<table> <tr> <th> Neighborhood </th> <th> Crimes reported since 2001 </th> </tr>"
			var safeTableItems = []
			// turn each ward with count into table row
			for (var i = 0; i < data.length; i++) {
				safeTableItems.push("<tr><td>"+data[i].community_area+"</td> <td>"+data[i].COUNT_community_area+"</td></tr>")
			}

			var safeTableItemsString = safeTableItems.join("")
			safeTable += safeTableItemsString+"</table>"
			$("#table-container").html(safeTable)
		})
	})

	$(".dropdown").on("click", "#annualArrest", function(e){
		e.preventDefault()
		console.log("blocked")
		$.getJSON( baseURL+arrestYearlyQuery+appToken, function(data) {
			console.log(data)
			var yearlyTable = "<table> <tr> <th> Year </th> <th> Percent of crimes with an arrest </th> </tr>"
			var yearlyTableItems = []
			// turn each ward with count into table row
			for (var i = 0; i < data.length; i++) {
				yearlyTableItems.push("<tr><td>"+data[i].year+"</td> <td>"+parseFloat(100*(data[i].sum_case_arrest_TRUE_1_TRUE_0/data[i].count)).toFixed(2) +"%</td></tr>")
			}

			var yearlyTableItemsString = yearlyTableItems.join("")
			yearlyTable += yearlyTableItemsString+"</table>"
			$("#table-container").html(yearlyTable)
		})
	})
	$(".dropdown").on("click", "#commonCrimes", function(e){
		e.preventDefault()
		console.log("blocked")
		$.getJSON( baseURL+commCrimeQuery+appToken, function(data) {
			console.log(data)
			var commonTable = "<table> <tr> <th> Type of Crime </th> <th> Number reported since 2001 </th> </tr>"
			var commonTableItems = []
			// turn each ward with count into table row
			for (var i = 0; i < data.length; i++) {
				commonTableItems.push("<tr><td>"+data[i].primary_type+"</td> <td>"+data[i].COUNT_primary_type+"</td></tr>")
			}

			var commonTableItemsString = commonTableItems.join("")
			commonTable += commonTableItemsString+"</table>"
			$("#table-container").html(commonTable)
		})
	})
})
</script>

